
    body{
        background-color: rgb(157, 240, 215);
           
       }
       h1{
        color: rgb(226, 33, 33);
       }
       p{
           color:deeppink;
           font-size: medium;
       }
  